<form
        class="test-form test-form--login"
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
>
  <h2 class="test-form__title">Register</h2>
  <div *ngIf="submitted && (
    formControls['email'].errors ||
    formControls['password'].errors ||
    !imgFile ||
     error)"
       class="invalid-feedback">
    Email, password and avatar image are required. Try to set all fields.
  </div>
  <div class="test-form__group">
    <label class="input-label">Email</label>
    <input class="input"
           [ngClass]="{ 'is-invalid': submitted && (formControls.email.errors || error) }"
           formControlName="email"
           type="email">
    <div *ngIf="submitted && (formControls['email'].errors || error)" class="invalid-feedback"> Wrong email </div>
  </div>
  <div class="test-form__group">
    <label class="input-label">Password</label>
    <input class="input"
           [ngClass]="{ 'is-invalid': submitted && (formControls.password.errors || error) }"
           formControlName="password"
           type="password">
  </div>
  <div>
    <input
           #fileChange
           id="Signature" (change)="fileChangeEvent($event)"
           class="form-control" type="file" accept="image/jpeg,image/png" value="Browse"/>
  </div>
  <div class="test-form__group">
    <button class="btn btn--primary btn--submit"
            [disabled]="loading">
      Register
    </button>
    <p-progressSpinner class="spinner"
                       *ngIf="loading"
    ></p-progressSpinner>
  </div>
  <div class="sign-up-reference">Back to a <a routerLink="../login" class="sign-up">login</a> form</div>
</form>
